{% include base_path %}
{% assign site_title = page.site_title | default: site.title %}
{% assign site_home_url = page.site_home_url | default: "/" %}
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><span class="navicon"></span></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg persist {% if page.url == '/' or page.url == '/index.html' %}selected{% endif %}">
            <a href="{{ site_home_url | prepend: base_path }}">{{ site_title }}</a>
          </li>
          {% for link in site.data.navigation.main %}
            {% if page.lang == "en" %}
              {% assign nav_title = link.en_title | default: link.title %}
              {% assign nav_url = link.en_url | default: link.url %}
            {% else %}
              {% assign nav_title = link.title %}
              {% assign nav_url = link.url %}
            {% endif %}
            {% if nav_url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item {% if page.url contains nav_url and nav_url != '/' %}selected{% endif %}">
              <a href="{{ domain }}{{ nav_url }}">{{ nav_title }}</a>
            </li>
          {% endfor %}
          {% if page.language_toggle_label and page.language_toggle_url %}
            <li class="masthead__menu-item persist">
              <a href="{{ page.language_toggle_url | prepend: base_path }}">{{ page.language_toggle_label }}</a>
            </li>
          {% endif %}
          <li id="theme-toggle" class="masthead__menu-item persist tail">
            <a role="button" aria-labelledby="theme-icon"><i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme"></i></a>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
