{% include base_path %}
{% assign current_lang = page.lang | default: site.data.i18n.default | default: "zh" %}
{% assign alternate_lang = "en" %}
{% if current_lang == "en" %}
  {% assign alternate_lang = "zh" %}
{% endif %}
{% assign current_language = site.data.i18n.languages[current_lang] %}
{% assign alternate_language = site.data.i18n.languages[alternate_lang] %}
{% assign page_translations = site.data.i18n.pages[page.translation_key] %}
{% assign site_title = current_language.site_title | default: site.title %}
{% assign site_home_url = current_language.home_url | default: "/" %}
{% assign language_toggle_url = page_translations[alternate_lang] %}
{% assign language_toggle_label = alternate_language.label %}
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><span class="navicon"></span></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg persist {% if page.url == '/' or page.url == '/index.html' %}selected{% endif %}">
            <a href="{{ site_home_url | prepend: base_path }}">{{ site_title }}</a>
          </li>
          {% for link in site.data.navigation.main %}
            {% assign nav_translations = site.data.i18n.pages[link.key] %}
            {% assign nav_title = link[current_lang] | default: link.title %}
            {% assign nav_url = nav_translations[current_lang] | default: link.url %}
            {% if nav_url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item {% if page.url contains nav_url and nav_url != '/' %}selected{% endif %}">
              <a href="{{ domain }}{{ nav_url }}">{{ nav_title }}</a>
            </li>
          {% endfor %}
          {% if language_toggle_label and language_toggle_url %}
            <li class="masthead__menu-item persist">
              <a href="{{ language_toggle_url | prepend: base_path }}">{{ language_toggle_label }}</a>
            </li>
          {% endif %}
          <li id="theme-toggle" class="masthead__menu-item persist tail">
            <a role="button" aria-labelledby="theme-icon"><i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme"></i></a>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
